#include "ADCAnalyzer.h"
#include <QByteArray>
#include <QDebug>
#include <QSemaphore>
#include <QTimer>
#include <iostream>
//#include "mregdev/qtmregdevice.h"

ADCAnalyzer::ADCAnalyzer(QSemaphore *rawSem, QSemaphore *devSem, QObject *parent) :
    QObject(parent),
    freeRawDataSem(rawSem),
    freeDevDataSem(devSem),
    readTimer(new QTimer(this)),
    prevEventNum(0),
    enabled(true),
    proceededSize(0),
    fullDecodeMode(true),
    adcRawDataSigned(true),
    dataFromFile(false)
{
    connect(readTimer, SIGNAL(timeout()), SLOT(read()));
}

void ADCAnalyzer::dataAccuired(QByteArray newData)
{
    if(data.size())
        data.append(newData);
    else
        data = newData;
    if(!skipData()){
        previousProceed=true;
        read();
    }

    emit eventMapUpdated(evPosMap);
    freeRawDataSem->release();
}


void ADCAnalyzer::read()
{
    curPos = 0;
    curEventStartPos = 0;
//    qInfo()<<"read begin:"<<rdata.size();

    while(enabled) {
        try{
            if(!readEvent()) {
//                qInfo()<<"End of data";
                break;
            }
            if(deviceData.events.size() > 1000)
                flushData();
        }
        catch (const std::runtime_error &error) {
            QString message(error.what());
            sendLog(message);
            if(findNextEventHeader()){
                sendLog(message);
            } else{
                prevEventNum=lastEventNumAtPrevFrame;
                break;
            }
        }
        catch (...) {
            if(findNextEventHeader()){
                sendLog("Unknown exception while reading stream ");
            } else {
                prevEventNum=lastEventNumAtPrevFrame;
                break;
            }
        }
    }


    if(curEventStartPos) {
        if(curEventStartPos==data.size())
            data.clear();
        else
            data = data.right(data.size()-curEventStartPos);
        proceededSize += curEventStartPos;
    }

    flushData();
}

void ADCAnalyzer::adcRawDataSignedUpdated(bool adcSigned)
{
    adcRawDataSigned = adcSigned;
}

void ADCAnalyzer::dataSourceUpdated(bool fromFile)
{
    dataFromFile = fromFile;
}

bool ADCAnalyzer::findNextEventHeader()
{
    qint64 shift = 0;
    const uint dataSize = data.size();
    const char * dataStart = data.data();
    uint pos;
    while(true){
        shift += 2;
        pos = curEventStartPos+shift;
        if(pos+sizeof(MpdEventHdr) > dataSize){
            break;
        }
        mpdEventHdr = (MpdEventHdr *) (dataStart+pos);
        if(mpdEventHdr->sync == MPD_SYNC_NORM || mpdEventHdr->sync == MPD_SYNC_EOB) {
            curPos = curEventStartPos + shift;

            qInfo()<< QString("Syncword found at 0x%1; shift:0x%2")
                    .arg(curEventStartPos,0,16).arg(shift,0,16);
            return true;
        }
    }
    curEventStartPos = dataSize;
    return false;
}

bool ADCAnalyzer::readEvent()
{
    curEventStartPos = curPos;
    int bRead;
    int leftSize;
    if(data.size()<curPos+(int)sizeof(MpdEventHdr))
        return false;

    mpdEventHdr = (MpdEventHdr *)(data.data()+curPos);

    if(mpdEventHdr->sync != MPD_SYNC_NORM) {
        if(mpdEventHdr->sync == MPD_SYNC_EOB){
            curPos += mpdEventHdr->length + sizeof(MpdEventHdr);
            return true;
        }
        QString mess = QString("Format error: wrong MPD_SYNC_WORD: %1; at file pos:%2")
                .arg(mpdEventHdr->sync, 0, 16, QChar('0'))
                .arg(curPos);
        throw std::runtime_error(mess.toStdString());
    }
    if((uint)data.size() < curPos+mpdEventHdr->length+sizeof(MpdEventHdr))
        return false;

    curPos += sizeof(MpdEventHdr);
    leftSize = mpdEventHdr->length;
    eventData.clear();
    eventData.evNum = mpdEventHdr->evNum;

 //   qInfo()<<"Event number is "<<mpdEventHdr->evNum;
    while(leftSize && fullDecodeMode) {
        bRead = readDevice(leftSize);
        leftSize -= bRead;
        if(leftSize<0)
            throw std::runtime_error("Format error: Sum of MpdDevice blocks is larger than declared in MpdEvent header");
    }
    prevEventNum = mpdEventHdr->evNum;
    lastEventNumAtPrevFrame = prevEventNum;
    evPosMap[proceededSize+curEventStartPos] = prevEventNum;
    if(dataFromFile || !lastFlushedTime.isValid() || lastFlushedTime.elapsed() > 500) {
        emit eventDataUpdated(eventData);
        lastFlushedTime.restart();
    }

    return true;
}

void ADCAnalyzer::flushData()
{
    if(deviceData.events.empty())
        return;

//    int retryCnt=0;
//    while (!freeDevDataSem->tryAcquire(1, 100)) {
//        if((retryCnt++)%10==0)
//            qInfo()<<"There is no free space for dev data";
//    }
//    emit deviceDataUpdated(deviceData);
    deviceData.clear();
}

int ADCAnalyzer::readDevice(uint upperLimitToDevLength)
{
    int byteRead = 0;

    if(upperLimitToDevLength < sizeof(MpdDeviceHdr))
        throw std::runtime_error("Format error: There is no data for MpdDeviceHdr");

    mpdDeviceHdr = (MpdDeviceHdr *) (data.data()+curPos);
    curPos += sizeof(MpdDeviceHdr);
    byteRead += sizeof(MpdDeviceHdr);

    if(upperLimitToDevLength < sizeof(MpdDeviceHdr) + mpdDeviceHdr->length)
        throw std::runtime_error("Format error: There is no data for MpdDevice payload");

    if(mpdDeviceHdr->deviceId != 0xd4
            && mpdDeviceHdr->deviceId != 0x89
            && mpdDeviceHdr->deviceId != 0xc5
            && mpdDeviceHdr->deviceId != 0xca
            && mpdDeviceHdr->deviceId != 0xc3
            && mpdDeviceHdr->deviceId != 0xbf
            && mpdDeviceHdr->deviceId != 0xbe
            && mpdDeviceHdr->deviceId != 0xba
            && mpdDeviceHdr->deviceId != 0xb8) {
//    if(mpdDeviceHdr->deviceId != QtMregDevice::DEVICE_ID_ADC64VE
//            && mpdDeviceHdr->deviceId != QtMregDevice::DEVICE_ID_TQDC16VS_E
//            && mpdDeviceHdr->deviceId != QtMregDevice::DEVICE_ID_ADC64S2) {
        curPos += mpdDeviceHdr->length;
        byteRead += mpdDeviceHdr->length;
        return byteRead;
    }
//    qInfo()<<"mpdDevice: length:"<<mpdDeviceHdr->length<<" serial:"<<hex<<mpdDeviceHdr->deviceSerial;

    quint32 devPayloadLen=0;
    curDeviceEvent.clear();
    curDeviceEvent.serial = mpdDeviceHdr->deviceSerial;
    curDeviceEvent.devId = mpdDeviceHdr->deviceId;
    const quint16 adcOffset = adcRawDataSigned ? 0 : 0x8000;
    while(mpdDeviceHdr->length > devPayloadLen) {
        mstreamHdr = (MpdMStreamHdr *) (data.data()+curPos);
//        qInfo()<<"mstreamHdr: length:"<<mstreamHdr->words32b*sizeof(quint32);
        curPos += sizeof(MpdMStreamHdr);
        devPayloadLen += sizeof(MpdMStreamHdr);
        switch (mstreamHdr->subtype) {
        case 0:
            if(mstreamHdr->words32b*sizeof(quint32) != sizeof(AdcDataType0))
                throw std::runtime_error(QString("Format error: Invalid size(%1 Bytes) of MStream subtype=0 block; should be %2 Bytes.")
                    .arg(mstreamHdr->words32b*sizeof(quint32)).arg(sizeof(AdcDataType0)).toStdString());

            adcData0 = (AdcDataType0 *) (data.data()+curPos);
            curDeviceEvent.evNum = mpdEventHdr->evNum;
            curDeviceEvent.taiFlags = adcData0->taiFlags;
            curDeviceEvent.taiSec = adcData0->taiSec;
            curDeviceEvent.taiNSec = adcData0->taiNSec;
            adcChMask = adcData0->chLower;
            adcChMask |= ((quint64)adcData0->chUpper)<<32;
//            qInfo()<<"Sub0: chMask:"<<hex<<adcChMask;
            break;
        case 1:
        {
            curAdcChEv.clear();
            curAdcChEv.ch = mstreamHdr->usrDefBits;

            if(mstreamHdr->words32b*sizeof(quint32) < sizeof(AdcDataType1))
                throw std::runtime_error(QString("Format error: Invalid size(%1 Bytes) of MStream subtype=1 block; should be >=%2 Bytes.")
                    .arg(mstreamHdr->words32b*sizeof(quint32)).arg(sizeof(AdcDataType1)).toStdString());

            adcData1 = (AdcDataType1 *) (data.data()+curPos);
            curAdcChEv.mstreamWfTs |= (quint64)adcData1->wfTsLow;
            curAdcChEv.mstreamWfTs |= ((quint64)adcData1->wfTsHi)<<32;

            curAdcChEv.wf.reserve((mstreamHdr->words32b-2)*2);
            for(int wordIndex=2; wordIndex<mstreamHdr->words32b;++wordIndex){
                quint32 *word = (quint32 *)(data.data()+curPos+wordIndex*sizeof(quint32));
                const qint16 veven = (qint16)((*word >> 16) & 0xFFFF) - adcOffset;
                const qint16 vodd  = (qint16)((*word >> 0)  & 0xFFFF) - adcOffset;
                curAdcChEv.wf.push_back(veven);
                curAdcChEv.wf.push_back(vodd);
            }
            curDeviceEvent.adcEvents[curAdcChEv.ch] = curAdcChEv;
//            qInfo()<<"Sub1: ch:"<<curAdcEv.ch<<"; samples:"<<curAdcEv.wf.size();
            break;
        }
        case 2:
            qWarning()<<"Todo: add hptdc decoder.";
            break;
        default:
            throw std::runtime_error(QString("Format error: Invalid subtype number in MStream header: %1.")
                .arg(mstreamHdr->subtype).toStdString());
            break;
        }
        curPos += mstreamHdr->words32b*sizeof(quint32);
//        qInfo()<<"MS block:ev="<<mpdEventHdr->evNum<<"; subtype="<<mstreamHdr->subtype<<"; curpos="<<curpos;
        devPayloadLen += mstreamHdr->words32b*sizeof(quint32);
    }
    if(mpdDeviceHdr->length != devPayloadLen)
        throw std::runtime_error(QString("Format error: Sum of sizes of MStream blocks(%1) isn't equal to one declared in MpdDevice header(%2)")
            .arg(devPayloadLen).arg(mpdDeviceHdr->length).toStdString());

    //Check that all channels are presented
    std::map<int, AdcChEvent>::const_iterator it=curDeviceEvent.adcEvents.begin();
    quint64 gotChannales=0;
    while(it!=curDeviceEvent.adcEvents.end()) {
        const int &ch = it->first;
        gotChannales |= ((quint64)1<<ch);
        it++;
    }
    if(gotChannales != adcChMask){
        throw std::runtime_error(QString("Format error: Got channel events (%1) doesn't correspont to adcChMask (%2)")
            .arg(gotChannales,64,2,QChar('0')).arg(adcChMask,64,2,QChar('0')).toStdString());
    }
    deviceData.events.push_back(curDeviceEvent);
    eventData.devices[curDeviceEvent.serial] = curDeviceEvent;
//    qInfo() << hex << curDeviceEvent.serial << dec<< QMap<int, AdcChEvent>(curDeviceEvent.adcEvents).keys().size();

    byteRead += devPayloadLen;
    return byteRead;

    /*

    vmeData = (VMEDataTypes *) (rdata.data()+curpos);

   // qInfo()<<"VME Word = "<<(vmeData->vmeVol)::hex;


    unsigned int vol = vmeData->vmeVol;
//    qInfo()<<"VME Word = "<<hex<<vol;
    unsigned int vmeType = (vol & 0xF0000000)>>28;
//    qInfo()<<"VME type = "<<vmeType;

    switch (vmeType) {
    case 13: { // Spill trailer
        curpos += 4;
        breaded += 4;
        step += 4;
        break;}
    case 12: { // Spill header
        curpos += 4;
        breaded += 4;
        step += 4;
        break;}
    case 11: { // Event trailer
        curpos += 4;
        breaded += 4;
        step += 4;
        evHdr = false;
        evTrl = true;

        break;}
    case 10: { // Event header
        unsigned int evNum = (vol & 0xFFFFF)>>0; //Mask for event number
//        qInfo()<<"Event Number is "<<evNum;
        curpos += 4;
        breaded += 4;
        step += 4;

        evHdr = true;
        evTrl = false;

        break;}
    case 8: { // Module header
        devID = (vol & 0x7F0000)>>16;
//        qInfo()<<"Device ID is "<<devID;
        curpos += 4;
        breaded += 4;
        step += 4;
        modHdr = true;

        break;}
    case 15: { // Padding
        curpos += 4;
        breaded += 4;
        step += 4;
        break;}
    case 14: { // Status
        curpos += 4;
        breaded += 4;
        step += 4;
        break;}
    default: { // ...

        curpos += 4;
        breaded += 4;
        step += 4;
        break;}
    }

    if(devID == 9) {

    while(modHdr) {
        vmeData = (VMEDataTypes *) (rdata.data()+curpos);
        vol = vmeData->vmeVol;
        vmeType = (vol>>28) & 0xF;


//        qInfo()<<"VME Word = "<<hex<<vol;
//        qInfo()<<"VME type = "<<vmeType;
//        qInfo()<<"VME Word = "<<hex<<vol<<dec<<"\tVME type = "<<vmeType;

        if(adcTsWordCnt==2 && vmeType != 5){
            // flush ADC data
            curAdcEv.evNum = mpdEventHdr->evNum;
            curAdcEv.adcTs = adcTmstmp-trigTmstmp;
            adcTsWordCnt = 0;
            deviceData.adcEvents.push_back(curAdcEv);
            curAdcEv.clear();
        }
        if(vmeType)
        switch (vmeType) {

        case 9: { // Module trailer

            curpos += 4;
            breaded += 4;
            step += 4;
            modHdr = false;
            devID = -1;

            break;}
        case 7: { // ?!?
            curpos += 4;
            breaded += 4;
            step += 4;
            break;}
        case 6: { // TDC error
            u_int16_t err = vol & 0x7FFF;
            if(err){
                deviceData.errors.push_back(err);
            }
            curpos += 4;
            breaded += 4;
            step += 4;
            break;}
        case 2: { // TDC event header
            TDCevHdr = true;
//            quint16 tdcTime = vol & 0xFFF;
            curpos += 4;
            breaded += 4;
            step += 4;

            break;}
        case 3: { // TDC event trailer
            Q_ASSERT(TDCevHdr && (adcTsWordCnt==0));
            TDCevHdr = false;
            adcTsWordCnt = 0;

            curpos += 4;
            breaded += 4;
            step += 4;

            break;}
        case 4: { // ADC timestamp and TDC data
            int mode = (vol>>26) & 0x3;
//            qInfo()<<"mode = "<<mode4;

            chanNum = (vol>>19) & 0x1F;

            if(TDCevHdr) {
                Q_ASSERT(mode==0);
//                qInfo()<<"TDC Channel";
//                qInfo()<<"Channel number = "<<chanNum;
                // leading or combined mode? TODO
                tdcData = vol & 0x7FFFF;// mode == 0 TDC data
                curTqdcEv.evNum = mpdEventHdr->evNum;
                curTqdcEv.ch = chanNum;
                curTqdcEv.leadingTime = tdcData;
                deviceData.tqdcEvents.push_back(curTqdcEv);
            } else {
                // ADC event timestamp
                if((vol>>16) & 0x1) {
                    curAdcEv.mode = (vol>>26) & 0x3;
                    adcTmstmp = vol & 0xFFFF; // ADC timestamp
                } else {
                    trigTmstmp = vol & 0xFFFF; // Trigger timestamp
                }
                //                 qInfo()<<"TDC word = "<<tdcWrd+1;
                adcTsWordCnt +=1; //For Type 5
            }


            curpos += 4;
            breaded += 4;
            step += 4;

            break;}
        case 5: { // TDC and ADC data
            int mode = (vol >> 26) & 0x3;
            chanNum = (vol >> 19) & 0x1F;
            wordData = vol & 0x7FFFF; // TDC or ADC data

            if(mode)
                Q_ASSERT(adcTsWordCnt == 2);
//                qInfo()<<"ADC Channel";
//                qInfo()<<"Channel number = "<<chanNum;
            switch (mode) {
            case 0: {
                //TDC trailing time measurement
                curTqdcEv.ch = chanNum;
                curTqdcEv.trailingTime = wordData;
                //and rcdata must be here!
//                qInfo()<<"TDC time measurement";
                break;}
            case 1: {
                //adc sample in calibration mode
                curAdcEv.wf.push_back(wordData & 0xFFFF);
//                qInfo()<<"calibration";
                break;}
            case 2: {
                //adc sample
                curAdcEv.wf.push_back(wordData & 0xFFFF);
                //                    qInfo()<<"sampling";
                break;}
            case 3: {
                // adc integration
                curAdcEv.sumQ = wordData;
//                qInfo()<<"Sum of adc samples = "<<wordData;
                break;}
            default:
                break;
            }

            curpos += 4;
            breaded += 4;
            step += 4;

            break;}

        default: {
            curpos += 4;
            breaded += 4;
            step += 4;
            break;}
        }
    }
    }
}
    return breaded;
*/
}

//quint32 TQDCAnalyzer::VmeChnlMap()
//{
//    QMap<QPair<quint32, quint8>, TQDCData> allData;
//}

void ADCAnalyzer::sendLog(QString s) const
{
    emit addLog(s);
}

bool ADCAnalyzer::skipData()
{
    return false;
    int freeSpace=freeRawDataSem->available();
    if(freeSpace>30)
        return false;
    int s;
    if(freeSpace<5)
        s=99;
    else
        s=100-freeSpace*3;

    const int rand=qrand()%100;
    bool res=rand<s;
    if(previousProceed)
        qInfo()<<"freeSpace="<<freeSpace<<"  RandNumber="<<rand<<" threshold="<<s<<(res?" - skipp":" - proceed");

    return res;

}
